/* src/components/LoginForm.css */

.form-container {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .form-container button {
    width: 108%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  
  /* Other styles */

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  